@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Mochiy+Pop+P+One&family=Montserrat+Subrayada:wght@700&family=Rubik:wght@300;400;500&family=Staatliches&display=swap');

*{
    padding: 0;
    margin: 0;
    /* reset de valores por default para navegadores */
    box-sizing: border-box;
    /* para concentrar el contenido dentro de cada etiqueta o box y no desborden de sus diametros*/
}

:root{
    /* crear las variables que almacenen los colores que vamos a utilizar, y finalizar con ; */
    /* las variables de css comienzan con -- y no deben tener espacios */
    
    --Blue: hsl(246, 80%, 60%);
    --Light-orange: hsl(15, 100%, 70%);
    --Soft-blue: hsl(195, 74%, 62%);
    --Light-red: hsl(348, 100%, 68%);
    --Lime-green: hsl(145, 58%, 55%);
    --Violet: hsl(264, 64%, 52%);
    --Soft-orange: hsl(43, 84%, 65%);
    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
    --White: white; 
}

body{
    background-color: var(--Very-dark-blue);
    /* para llamar a las variables de colores, es con var() */
    font-family: 'Rubik', sans-serif;
    color: var(--Pale-Blue)
}

.main-container{
    /* border: 5px solid white; */
    /* en las ayudas visuales no llamamos los colores con var para no confundirnos */
    width: 328px;
    margin: 100px auto;
    /* al determinar el width, con el margin auto se centra automaticamente */
    position: relative;
    /* cada elemento que tenga un position absolute, se ajustara al contenedor mayor */
}

/* .first-section{
     border: 3px solid yellow; 
} */

.main-card__user{
    background-color: var(--Blue);
    display: flex;
    /* colocamos el texto al costado de la img, de acuerdo a los div */
    border-radius: 1rem;
    padding: 1.5rem;
    position: absolute;
    z-index: 1;
    /* debemos colocar una position absolute con el z-index positivo para que funcione */
    width: 100%;
}

.main-card__image{
    width: 72px;
    margin-right: 1rem;
    border: 4px solid var(--White);
    border-radius: 60%;
}

.main-card__title{
    font-size: 0.9em;
    margin: 10px 0px 4px;
}

.main-card__name{
    font-size: 23px;
    font-weight: 300px;
    color: var(--White);
}

.main-card__dates{
    background-color: var(--Dark-blue);
    border-radius: 1rem;
    display: flex;  
    justify-content: space-around;
    height: 75px;
    padding-top: 38px;
    /* con padding colocamos un espacio interior, con margin es exterior con los demas elementos */
    font-size: 1rem;
    position: absolute;
    width: 100%;
    top: 100px;
    /* z-index: -1; */
    /* con valor negativo en el z-index colocamos el elemento por detras */
    /* pero tenemos que desactivarlo, porque un elemento con z-index negativo desactiva la funcion del hover */
}

.main-card__frequency:hover{
    cursor: pointer;
    color: var(--White);
}

.second-section{
    padding-top: 200px;
    border: 1px solid white;
}

.card{
    border: 1px solid white;
}

.card__background{
    background-color: var(--Light-orange);
    height: 80px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
}

.card__image{
    margin-top: -10px;
}